.choresText {
   color: darkolivegreen;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   font-size: 1.5vw;
   font-style: italic;
   text-align: left;
}

.choresHeading {
   text-decoration: underline;
   text-align: left;
}

.choresBackground {
   background-color: aquamarine;
}